/* layout.css: define a estrutura da página. */
.main-content {
    margin: 5% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-content__header {
    font-size: 2em;
    color: #975d5f;
    margin-right: 15%;
    text-align: center;
    margin-bottom: 1%; /* Reduzindo a margem inferior para aproximar o título */
}

.main-content__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.main-content__main_text-area {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
    width: 100%;
}

.main-content__main__list {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}