body{
    background-color: #040c1e;
    color: #f5f2d8;
}

.main-content{
    margin: 10% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.main-content__header{
    font-family: "Delius Unicase", serif;
    font-size: 26px;
    color: #975d5f;
    margin-right: 15%;
}

.main-content__main{
    display: flex;
    font-family: "Delius", serif;
    font-size: 22px;
    color: #cab5a0;
    justify-content: center;
    align-items: center;
}

.main-content__main_text-area{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    padding: 0px 30px;
}

.main-content__main_form {
    margin-top: 5%;
    display: inline-flex; /* Exibe os elementos lado a lado */
    align-items: center; /* Alinha os elementos verticalmente */
}

.main-content__main_input {
    background-color: #cbdad5;
    width: 250px;
    border-radius: 100px;
    color: #040c1e;
    padding: 0px 12px;
    font-size: 18px;
    outline: 0;
    height: 62px; /* Altera a altura para igualar ao botão */
    margin-right: 10px; /* Adiciona um espaço entre o input e o botão */
}

.main-content__main_input.error {
    border: 2px solid red;
    outline: 2px solid rgb(255, 0, 0);
}

.main-content__main__button {
    background-color: #cbdad5;
    color: #040c1e;
    width: 200px;
    height: 62px; /* Mantém a altura do botão */
    padding: 16px 12px;
    border-radius: 100px;
    font-size: 20px;
    display: flex; /* Centraliza o texto e o ícone verticalmente */
    align-items: center; /* Centraliza o texto e o ícone verticalmente */
    justify-content: center; /* Centraliza o texto e o ícone horizontalmente */
}

.main-content__main_lista-participantes {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f5f2d8;
    color: #040c1e;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    text-align: left;
    font-size: 18px;
    list-style: none;
}

.main-content__main__list{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-content__main__logo{
    width: 517px;
    height: 520px;
}

.material-icons, .material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  .material-icons-outlined {
    font-family: 'Material Icons';
    font-size: 18px;
    margin-left: 5px;
    color: #ff0000;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }